body{
    width:100%;
    height: 100%;
}

#title{
    width:100%;
    text-align: center;
    font-size: 50px;
    padding:20px;
    margin:0;
}

#desktop{
    width:80%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}

#input_image{
    display: block;
    margin:auto;
    max-height: 60%;
}

form{
    display:flex;
    justify-content: center;
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 
        
    body{
        width:100%;
    }

    #title{
        font-size: 100px;
    }

    form{
        display: inline;
        justify-content:flex-start;
    }

    input{
        height: 70px;
        font-size: 40px;
    }

    #input_image{
        width:100%;
        max-height: none;
    }
}

input[type="file"]::-webkit-file-upload-button {
    height: 70px;
    font-size: 30px;
}