#title{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 40px;
    font-family: "Microsoft YaHei","Arial";
    font-weight: 700;
    color:white;
    background-color: rgb(0, 94, 60);
}

#logo{
    height: 30px;
}

#input_image{
    width:100%;
    margin-bottom: 10px;
}

#loading_img{
    width: 90px;
    height: 90px;
}

#output_img{
    width:100%;
    margin-bottom: 10px;
}

#output_img_div{
    padding:0;
}

#input_img_div{
    padding:0;
}

#bar label{
    margin-top:3px;
    margin-bottom:3px;
}

#settings2 > select{
    margin-bottom: 2px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  
    #title{
        font-size: 40px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #title{
        font-size: 50px;
    }
    #logo{
        height: 40px;
    }

    #output_img_div{
        padding:10px;
    }
    
    #input_img_div{
        padding:10px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #title{
        font-size: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #title{
        font-size: 50px;
    }
}
