<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--<script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
<!-- <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script> -->
<script src="static/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<title>watercolorization!</title>
</head>
<body>
    <div class="container-fluid h-100" id="cf">
        <div class="row"><div class="col-12"><div class="text-center text-md-left"><img id="logo" src="/static/img/hiroshima-university.png"></div></div></div>
        <div class="row text-center">
            <div class="col-12" style="padding:0;">
                <p id="title"><a href="/" style="text-decoration: none;color:white;">水彩変換ツール</a></p>
            </div>
        </div>
        <form id="submit_form">
            <div class="row justify-content-center" style="margin-top: 6px; margin-bottom: 3px;">
                <div class="col-9 col-md-3">
                    <input type="file" id="img_file" name="img_file" accept="image/png, image/jpeg" onchange="display_image(this);" style="width:100%;">
                </div>
                <div class="col-3 col-md-1">
                    <input type="submit" name="submit">
                </div>
            </div>
        </form>
        <div id="bar" class="row justify-content-center d-none d-md-block mx-auto" style="max-width: 800px;margin-top:7px;margin-bottom: 7px;">
            <div class="col-11 mx-auto">
                <div class="form-row align-items-center text-center" id="basic_setting">
                    <label class="col-3" for="select_GPU" style="margin:0;" id="gpu_label"></label>
                    <select class="col-9" id="select_GPU">
                        <option val='A100'>A100</option>
                        <option val='A6000'>A6000</option>
                    </select>

                    <label for="range_scale" class="col-1">scale</label>
                    <span id="scale_value" class="col-1">1</span>
                    <input class="form-control-range col-10" id="range_scale" type="range" min="0.5" max="1" value="1" step="0.01" oninput="document.getElementById('scale_value').innerText = document.getElementById('range_scale').value"/>
                    
                    <label for="range_layers" class="col-1">layers</label>
                    <span id="layers_value" class="col-1">5</span>
                    <input class="form-control-range col-10" id="range_layers" type="range" min="1" max="5" value="5" oninput="document.getElementById('layers_value').innerText = document.getElementById('range_layers').value"/>
                    
                    <label for="range_exposure" class="col-1">exposure</label>
                    <span id="exposure_value" class="col-1">1.2</span>
                    <input class="form-control-range col-10" id="range_exposure" type="range" min="0.1" max="2.0" value="1.2" step="0.1" oninput="document.getElementById('exposure_value').innerText = document.getElementById('range_exposure').value"/>
                
                    <label for="range_saturation" class="col-1">saturation</label>
                    <span id="saturation_value" class="col-1">2</span>
                    <input class="form-control-range col-10" id="range_saturation" type="range" min="0.5" max="3" value="2" step="0.1" oninput="document.getElementById('saturation_value').innerText = document.getElementById('range_saturation').value"/>
                
                
                </div>
                <div class="row">
                    <div class="col-12">
                        <img src="/static/img/showhidden2.svg" style="width: 16px;rotate: -90deg;margin-bottom: 2px;" id='showhidden'/>
                        advanced
                    </div>
                </div>
                <div class="form-row align-items-center text-center" id="advanced_setting" style="display: none;">
                    <label for="range_ETF" class="col-1">ETF</label>
                    <span id="ETF_value" class="col-1">5</span>
                    <input class="form-control-range col-10" id="range_ETF" type="range" min="0" max="10" value="5" oninput="document.getElementById('ETF_value').innerText = document.getElementById('range_ETF').value"/>
                    
                    <label for="range_phase" class="col-1">phase</label>
                    <span id="phase_value" class="col-1">2</span>
                    <input class="form-control-range col-10" id="range_phase" type="range" min="1" max="8" value="2" oninput="document.getElementById('phase_value').innerText = document.getElementById('range_phase').value"/>

                    <label for="range_MPL" class="col-1">MPL</label>
                    <span id="MPL_value" class="col-1">170</span>
                    <input class="form-control-range col-10" id="range_MPL" type="range" min="100" max="250" value="170" step="10" oninput="document.getElementById('MPL_value').innerText = document.getElementById('range_MPL').value"/>

                    <label for="range_simscale" class="col-1">simscale</label>
                    <span id="simscale_value" class="col-1">1.0</span>
                    <input class="form-control-range col-10" id="range_simscale" type="range" min="0.5" max="2" value="1" step="0.1" oninput="document.getElementById('simscale_value').innerText = document.getElementById('range_simscale').value"/>

                </div>
            </div>
        </div>
        <div class="row d-md-none" style="margin-top:7px;margin-bottom: 7px;">
            <div class="col-12">
                <div class="row d-md-none">
                    <div class="col-12">
                        <img src="/static/img/showhidden2.svg" style="width: 24px;rotate: -90deg;margin-bottom: 2px;" id='showhidden2'/>
                        settings
                    </div>
                </div>
                <div class="form-row align-items-center" id="settings2" style="display: none;">
                    <label class="col-3" for="select_scale" style="margin:0;">scale</label>
                    <select class="col-9" id="select_scale">
                        <option>1.0</option>
                        <option>0.9</option>
                        <option>0.8</option>
                        <option selected="selected">0.7</option>
                        <option>0.6</option>
                        <option>0.5</option>
                    </select>

                    <label class="col-3" for="select_layers" style="margin:0;">layers</label>
                    <select class="col-9" id="select_layers">
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>

                    <label class="col-3" for="select_exposure" style="margin:0;">exposure</label>
                    <select class="col-9" id="select_exposure">
                        <option>2</option>
                        <option>1.8</option>
                        <option>1.6</option>
                        <option>1.4</option>
                        <option selected="selected">1.2</option>
                        <option>1.0</option>
                        <option>0.8</option>
                        <option>0.6</option>
                    </select>

                    <label class="col-3" for="select_saturation" style="margin:0;">saturation</label>
                    <select class="col-9" id="select_saturation">
                        <option>3</option>
                        <option>2.5</option>
                        <option selected="selected">2</option>
                        <option>1.5</option>
                        <option>1</option>
                    </select>

                    <label class="col-3" for="select_ETF" style="margin:0;">ETF</label>
                    <select class="col-9" id="select_ETF">
                        <option>0</option>
                        <option selected="selected">5</option>
                        <option>10</option>
                    </select>

                    <label class="col-3" for="select_phase" style="margin:0;">phase</label>
                    <select class="col-9" id="select_phase">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option selected="selected">4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>

                    <label class="col-3" for="select_MPL" style="margin:0;">MPL</label>
                    <select class="col-9" id="select_MPL">
                        <option>130</option>
                        <option>140</option>
                        <option>160</option>
                        <option selected="selected">170</option>
                        <option>180</option>
                        <option>190</option>
                        <option>200</option>
                    </select>

                    <label class="col-3" for="select_simscale" style="margin:0;">simscale</label>
                    <select class="col-9" id="select_simscale">
                        <option>0.5</option>
                        <option>0.75</option>
                        <option selected="selected">1.0</option>
                        <option>1.25</option>
                        <option>1.5</option>
                        <option>1.75</option>
                        <option>2.0</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row"><div class="col-12 text-center" id="return_msg"></div></div>
        <div class="row h-100 align-items-center mx-auto" style="margin-top:7px;margin-bottom:7px; max-width: 1500px;">
            <div class="col-12 col-md-6" style="padding:0px;">
                <div class="user_img" id="input_img_div">
                    <img id="input_image">
                </div>
            </div>
            <div class="col-12 col-md-6  align-items-center" id="output_img_div">
                
            </div>
        </div>
    </div>
</body>
</html>